@charset "utf-8";

#mypage .inner {
    margin-bottom: var(--margin-bottom);
}

.mypage-head {
    height: 9.375rem;
    background: var(--color-gray02);
    border-radius: var(--border-radius);
    color: var(--color-black02);
    padding: 3.125rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12.5rem 0 7.5rem 0;
}

.profile {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    z-index: 1;
}

.profile-image {
    width: 5.5rem;
    height: 5.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-image img {
    width: 97%;
    transform: translateY(0.3rem);
}

.header-text .title {
    margin-bottom: 0.938rem;
    font-size: var(--fontSize-h3);
    text-align: left;
}

.title > span {
    font-size: var(--fontSize-p01);
    color: var(--color-gray01);
}

/* stats-container  */

.stats-container {
    display: flex;
    justify-content: center;
}

.stat-card {
    padding: 0 3rem;
    text-align: center;
    position: relative;
    border-right: 1px solid #ccc;
}

.stat-card:last-child{
    border: none;
    padding-right: 0;
}


.stat-label {
    font-size: var(--fontSize-button);
    margin-bottom: 1.25rem;
}

.stat-value {
    font-size: var(--fontSize-p01);
    font-weight: 700;
}

/* Main Layout */
.main-layout {
    display: grid;
    grid-template-columns: 15.625rem 1fr;
    gap:6.25rem;
}

/* nav */
.nav {
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;
}

.nav-item {
    width: 10.313rem;
    height: 3.125rem;
    padding: 0.938rem 0.625rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--fontSize-button);
    color: var(--color-gray01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-item:hover {
    color: var(--color-black02);
    transition: all 0.3s;
}

.nav-item.active {
    color: var(--color-point01);
    font-weight:600;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    right:1.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    background: url('../img/arrow-pointcolor.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-item:not(.active):hover {
    background-color: var(--color-gray02);
    color: var(--color-black01);
    padding-right: 2.5rem;
}

.nav-item:not(.active)::after {
    content: '';
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    background: url('../img/arrow-right-b.png') no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-item:not(.active):hover::after {
    opacity: 1;
}


/* Content Card */

.content-header {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-gray02);
}

.content-header h2 {
    font-size: var(--fontSize-h2);
    color: var(--color-black01);
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.points-table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--fontSize-button);
}

.points-table tbody {
    font-size: var(--fontSize-button);
    color: var(--color-black01);
}

.points-table th {
    padding: 1.25rem 1rem;
    font-size: var(--fontSize-button);
    font-weight: 600;
    color: var(--color-black01);
    border-top: 1px solid var(--color-black01);
    border-bottom: 1px solid var(--color-black01);
    text-align: center;
}

.points-table td {
    padding: 1.25rem 1rem;
    border-bottom: 1px solid var(--color-gray02);
    text-align: center;
}

.points-table td:last-child {
    cursor: pointer;
}

.points-table td:last-child span {
    color: var(--color-black01);
    background: var(--color-gray02);
    border-radius: var(--border-radius);
    padding: 0.5rem 1.25rem;
    display: inline-block;
    transition: 0.3s;
}

.points-table td:last-child span:hover {
    background: var(--color-point01);
}

.points-table td:nth-child(3) {
    color: var(--color-point01);
}

