@charset "utf-8";

@font-face {
    font-family: 'SBAggroM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
}

/* 공통요소 */
:root {
    --color-black01: #111;
    --color-black02: #000;
    --color-gray00: #555;
    --color-gray01: #767676;
    --color-gray02: #e5e5e5;
    --color-gray03: #f2f2f2;
    --color-white: #fff;
    --color-point01: #ff7029;
    --color-point02: #035060;
    --color-point03: #d1eeec;
    --color-point04: #ffebd0;
    --color-point05: #b9dd93;
    --fontSize-title: 3.25rem;
    --fontSize-h2: 1.25rem;
    --fontSize-h3: 2rem;
    --fontSize-p01: 1.5rem;
    --fontSize-p02: 1.25rem;
    --fontSize-button: 1rem;
    --fontSize-a: 0.938rem;
    --lineHeight-120: 1.2;
    --lineHeight-140: 1.4;
    --lineHeight-160: 1.6;
    --border-radius: 1.25rem; /* 20px */
    --margin-bottom: 7.5rem; /* 120px */
}

body {
    color: var(--color-black01);
    letter-spacing: -0.5px;
}

.inner {
    max-width: 90rem; /* 1440px */
    margin: 0 auto;
}

p.mainTitle {
    font-family: 'SBAggroM';
    font-size: var(--fontSize-title);
    line-height: var(--lineHeight-120);
}

h2 {
    font-size: var(--fontSize-h2);
    font-weight: 600;
    line-height: var(--lineHeight-140);
    text-transform: capitalize;
}

h3 {
    font-size: var(--fontSize-h3);
    line-height: var(--lineHeight-140);
}

p.title {
    font-size: var(--fontSize-p01);
    line-height: var(--lineHeight-140);
}

p.text {
    font-size: var(--fontSize-p02);
    line-height: var(--lineHeight-160);
}

/* 기본 버튼 스타일 */
button.btn_click {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 7.188rem;
    height: 2.813rem;
    font-size: var(--fontSize-button);
    line-height: var(--lineHeight-120);
    letter-spacing: -0.5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black01);
    border-radius: var(--border-radius);
    transition: 0.3s;
}

button.btn_click:hover {
    background-color: var(--color-point01);
}

span.tag {
    font-size: var(--fontSize-a);
    line-height: var(--lineHeight-120);
}

/* 아래부터 작업해주세요 */